.imagecontainer{
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url('https://i.ibb.co/Q6n5TXx/food-wallpaper.png');
    background-repeat: no-repeat;
    background-size:cover;
    border: 5px solid rgb(32, 119, 218);  
    box-shadow: 6px 8px 3px lightblue;  
    margin-right: 2px;
}
#logo{
    color:orange;
    font-size: 60px;
    text-align:center;
    background-color: white;
    height:100px;
    width: 100px;
    border-radius:50%;
    margin: auto;
    margin-bottom: 80px;
    margin-top: 90px;
    
    
}
@media screen and (min-widht:300px) and (max-width:1080px)
{ #logo
    {  
        height: 60px;
        width: 60px; 
    }

}
#logo:hover
{
    transform: scale(1.1,1.1);
}
#heading
{
    text-align:center;
    color:rgb(59, 13, 13);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 45px;
    font-weight: bold;
    text-shadow:slateblue 5px 5px 6px ;
    
}

.sociallogo{
    width:50px;
    height: 50px;
    float: right;
}
.sociallogo:hover
{
    transform: scale(1.5,1.5);
}
.finder{
    margin: auto;
    width: 420px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.locator
{    
    text-align: center; 
    width: 50%; 
    height: 50px; 
    font-size: 25px;
    color:darkblue;
}